server {
    charset utf-8;
    client_max_body_size 128M;

    listen 80;
    listen 8081;
    listen [::]:80;

    # For https
    # listen 443 ssl;
    # listen [::]:443 ssl ipv6only=on;
    # ssl_certificate /etc/nginx/ssl/default.crt;
    # ssl_certificate_key /etc/nginx/ssl/default.key;

    server_name localhost sku_bi.com;
    root /var/www/sku_bi/api/web;
    index index.php index.html index.htm;

    access_log /var/log/nginx/sku_bi_access.log;
    error_log /var/log/nginx/sku_bi_error.log;

    location / {
         try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php$ {
        try_files $uri /index.php =404;
        fastcgi_pass php-upstream;
        fastcgi_index index.php;
        fastcgi_buffers 16 16k;
        fastcgi_buffer_size 32k;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        #fixes timeouts
        fastcgi_read_timeout 600;
        include fastcgi_params;
    }

    location ~ /\.(ht|svn|git) {
        deny all;
    }

    location /app_log/ {
        alias /var/www/sku_bi/api/runtime/logs/;
        autoindex on;
        autoindex_exact_size off;
        autoindex_localtime on;
        auth_basic "nginx http basic auth";
        auth_basic_user_file sites-available/htpasswd;
    }

    location /nginx_log/ {
        alias /var/log/nginx/sku_bi/;
        autoindex on;
        autoindex_exact_size off;
        autoindex_localtime on;
        auth_basic "nginx http basic auth";
        auth_basic_user_file sites-available/htpasswd;
    }

    location /.well-known/acme-challenge/ {
        root /var/www/letsencrypt/;
        log_not_found off;
    }
}
